header {
    background-color:black;
    color: white;
    padding: 5px;
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.wrapper { 
    font-size: 18px;
    display: block;
}

main {
    background-color: #53ABD6;
    padding: 10px;
    margin: 5px;
}

h2 {
    padding: 5px;
    font-size: 32px;
    text-align: center;
}

.nav {  
    background-color: black;
    overflow: hidden;
    float: center;
    text-align: center;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
  
.nav li { 
    display: inline-block;
    font-size: 20px;
    padding: 15px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: hotpink;
}