/* Sashin Amichand CSS 2021 For Junior/Sky Breakers Basketball Website*/

/* Wrapper that contains the base code of how my website is going to be styled */
.wrapper { 
    font-size: 18px;
    display: block;
}

/* Styling of the body/header*/
header {
    color: white;
    padding: 5px;
}

main {
    background-color: #53ABD6;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    font-size: 52px;
    text-align: center;
    margin: 5px;
}

/* Seperates images by a slight amount and also gives it rounded corners*/

img {
    border-radius: 5%;
    padding: 5px;
}

/* Nav bar and logo styling*/

.logo {
    border-radius: 40%;
}

nav {  
    background-color: black;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
  
/* Styling of the actual text in the navigation bar*/
nav li { 
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    border: solid white 1px;
    width: 15%;
}

nav a {
    text-decoration: none;
    color: white;
}

/* When user hovers over link */
nav a:hover {
    color: #53ABD6;
    text-decoration: underline;
}
