{% extends "layout.html" %}

{% block body %}
    <h2> About: </h2> <!-- Title of what the page is called -->

    <P> I created this website because I felt that the Junior Breakers and Sky Breakers should be more connected. <br>
        As such I have created a website which allows you to see both the Junior and Sky Breakers community work.
    </p>
    <img class="rounded" src="{{ url_for('static', filename='images/contact-us.png')}}" alt="Junior Breakers People One" width="500" height="300"/> <!-- Images used -->

    <p> If you would like to contact us about something email this account:
    </p>

    <h3> info@juniorbreakers.co.nz   </h3>

    <p> OR phone this number: </p>
    
    <h3> (09) 970 5260 </h3>

    <p> And if you liked to vist us, we are located at:</p>

    <h3> 7 Atlas Pl

        Mairangi Bay, 
        
        North Shore City 0632
        
        New Zealand </h3>
{% endblock %}