{% extends "layout.html" %}

{% block body %}
    <h2> Home </h2> <!-- Title of what the page is called -->
    <h3> Junior Breakers: </h3> <!-- Short Description of what the text below is talking about -->

    <img class="rounded" src="{{ url_for('static', filename='images/junior_breakersacademy.webp')}}" alt="Junior Breakers People One" width="1000" height="350"/> <!-- Images used -->

    <p> The Junior Breakers offer a host of programs and activites for your child to participate in <br>
        We offer things like training practices every day, bootcamps and even holiday programs. <br>
        No matter what time you wish for your child to attend, we have a time for you.  <br>
        Click this link to sign up! <a href="https://www.juniorbreakers.basketball/holiday-camps"> Junior Breaker Sign Up </a>
    </p>

    <h3>Sky Sport Breakers:</h3>

    <img class="rounded" src="{{ url_for('static', filename='images/skybreakers.jfif')}}" alt="Sky Sport Breakers People 1" width="800" height="500"/> <!-- Images used -->

    <p>
        The Sky Breaker is the premier New Zealand basketball team, and they have a number of community programmes. <br>
        One thing they do is the Champions Programme. The Sky Breaker Coaches will vist a number of schools <br>
        and teach the students about their health and ways to keep it up, along with teaching basketball. <br>
        They also do things such as getting schools to arrange the students to vist their training facility <br>
        to experience what being a Sky Sports Breaker is all about. They also do a number of community games <br>
        where you can verse other local school teams, and whichever school made more of an impact in their communities <br>
        get rewarded. If you wish to learn more, head over to this link:  <a href="https://www.nzbreakers.basketball/pages/community"> Sky Sport Breakers</a>
    </p>
{% endblock %}