{% extends "layout.html" %}

{% block body %}
    <h2> About The Junior Breakers </h2> <!-- Title of what the page is called -->

    <img class="rounded" src="{{ url_for('static', filename='images/juniorbreakers.webp')}}" alt="Junior Breakers People One" width="650" height="250"/> <!-- Images used -->
    
    <p> The Junior Breakers have been around for a long time, and are the starting grounds for youngsters <br>
        who wish to join the main team, the Sky Breakers. The Junior Breakers hosts camps for young people <br>
        who wish to play basketball and experience coaching from the Sky Breakers coach, as well as other qualifed <br>
        professionals. It is one of the top young teams in New Zealand so come in and join!
    </p>
    <img class="rounded" src="{{ url_for('static', filename='images/junior_breakers3.jfif')}}" alt="Junior Breakers People One" width="650" height="250"/> <!-- Images used -->

{% endblock %}