<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Skybreakers Basketball </title>

    <!-- link to css -->
   <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <!-- Favicon (icon for the website)-->
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="wrapper">  <!-- Wrapper that all my code is under-->
        <header>
            <nav> <!-- Navigation Bar -->
                <a href="/"> <img class="logo" src="{{ url_for('static', filename='images/basketball_logo.webp')}}" 
                 alt="Basketball in hoop logo" width="145" height="110"/> </a>
                <ul>
                    <li> <a href="/"> Home </a>  </li>
                    <li> <a href="junior_breakers"> Junior Breakers </a> </li>
                    <li> <a href="community"> Community </a> </li>
                    <li> <a href="about"> About </a> </li>
                </ul>
            </nav>
        </header>

        <main> <!-- Start of the information/text for my website -->
            {% block body %} {% endblock %}
        </main>

        <footer> <!-- Footer for copyright etc-->
                Copyright &copy; Sashin Amichand 2021
        </footer>
    </div> 
</body>

</html>

